* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 10px;
}

/* go to typography */
/* === go to colors === */
/* HUE */
/* saturation */
/* brightness */
/* === go to subAtoms === */
/* primary color:          black
complementary color:    brown
accent:                 blue
white:                  white */
/* 
2021.08.23 color restructuration

p + &                   muted black     $primaryColMuted

heading                 dark muted blue &accentCol1

nav and footer          brown           $compCol en una de sus variantes         

interactive elements    blue            $accentCol1 / $accentCol1Ligth / $accentCol1Dark */
/* BLACK */
/* BROWN */
/* BLUE */
/* WHITE */
/* $mainFont
$secondFont */
/* === go to subAtoms === */
/* use clamp (min, ideal, max); */
/* 
$f01:       .9rem;
$f1:      1.2rem;
$f2:      1.6rem;
$f3:      2.1rem;
$f4:      2.8rem;
$f5:      3.7rem;
$f6:      5rem;
$f7:      6.7rem;
$f8:      8.9rem;
$f9:      11.9rem;

 */
/* === go to colors === */
/* HUE */
/* saturation */
/* brightness */
/* === go to subAtoms === */
/* primary color:          black
complementary color:    brown
accent:                 blue
white:                  white */
/* 
2021.08.23 color restructuration

p + &                   muted black     $primaryColMuted

heading                 dark muted blue &accentCol1

nav and footer          brown           $compCol en una de sus variantes         

interactive elements    blue            $accentCol1 / $accentCol1Ligth / $accentCol1Dark */
/* BLACK */
/* BROWN */
/* BLUE */
/* WHITE */
/* $mainFont
$secondFont */
/* === go to subAtoms === */
/* use clamp (min, ideal, max); */
/* 
$f01:       .9rem;
$f1:      1.2rem;
$f2:      1.6rem;
$f3:      2.1rem;
$f4:      2.8rem;
$f5:      3.7rem;
$f6:      5rem;
$f7:      6.7rem;
$f8:      8.9rem;
$f9:      11.9rem;

 */
h1 {
  color: #3a5378;
  font-size: 3.79259rem;
  font-weight: 700;
  margin-bottom: .5em;
  line-height: .8em;
}

h1 + p {
  font-size: 2.84444rem;
  font-weight: 400;
}

h2 {
  color: #4073bf;
  font-size: 2.84444rem;
  font-weight: 700;
  margin-bottom: .75em;
  line-height: .8em;
}

h3 {
  color: #4073bf;
  font-size: 2.84444rem;
  margin-bottom: .5em;
}

p, textarea, figcaption, label, input, textarea, li, blockquote {
  color: #595959;
  font-size: 2.13333rem;
  margin: 0 .5em 1em 0;
}

a {
  text-decoration: none;
  color: #595959;
  font-size: 2.13333rem;
  margin: 0 .5em 1em 0;
}

p {
  line-height: 1.5em;
}

a, textarea, figcaption {
  line-height: 1.5em;
  width: clamp(45ch, 50%, 75ch);
}

.subtitle {
  font-size: 2.13333rem;
  font-weight: 700;
}

blockquote {
  font-style: italic;
  margin-bottom: .5em;
  line-height: 1.5em;
}

a {
  color: black;
  font-size: 2.13333rem;
  text-decoration: none;
}

a:hover {
  color: #595959;
}

a :active {
  color: white;
  background-color: black;
}

a :focus {
  color: #595959;
  background-color: black;
}

/* === go to colors === */
/* HUE */
/* saturation */
/* brightness */
/* === go to subAtoms === */
/* primary color:          black
complementary color:    brown
accent:                 blue
white:                  white */
/* 
2021.08.23 color restructuration

p + &                   muted black     $primaryColMuted

heading                 dark muted blue &accentCol1

nav and footer          brown           $compCol en una de sus variantes         

interactive elements    blue            $accentCol1 / $accentCol1Ligth / $accentCol1Dark */
/* BLACK */
/* BROWN */
/* BLUE */
/* WHITE */
button {
  padding: .5em 1.5em .5em 1.5em;
  margin-top: .5em;
  border: none;
  border-radius: 5px;
  font-size: 2.13333rem;
  color: #4073bf;
  background-color: #dfc69f;
  transition: 300ms;
}

button :hover {
  color: #9fb9df;
}

button :active {
  color: #f9f9f9;
  background-color: #5377ac;
}

button :focus {
  color: #5377ac;
  background-color: black;
}

.button-download {
  color: #4073bf;
}

a:hover {
  color: #9fb9df;
}

a:active {
  color: #4073bf;
}

a:focus {
  color: #3a5378;
}

.nav {
  position: fixed;
  inset: 0 0 0 auto;
  height: 100%;
  width: 15vw;
  background-color: #261c0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}

.nav__img {
  width: 15rem;
  position: absolute;
  top: -10em;
}

.nav__container {
  position: absolute;
  top: 35vh;
  display: flex;
  flex-direction: column;
  padding-right: 8vw;
}

.nav__container__link {
  margin: 1em 0;
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: .25em 1em;
  color: #3a5378;
}

.nav__container__link--current {
  margin: 1em 0;
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: .25em 1em;
  color: #9fb9df;
}

/*  .logo{
    position: absolute;
    inset: 3em 0 0 3em;
    display: flex;
    &__img{
        height: $imgLogo;
        margin-right: 15px;
    }
    &__name{
        font-size: $f3;
        font-weight: 700;
        color: $primaryColMuted;
        line-height: 1.5em;
    }
} */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid black;
  padding: 3em 0 2em;
}

.card__img {
  border-radius: 50%;
  height: 16vw;
  width: 16vw;
  margin: 0 auto;
}

.card__tittle {
  font-size: 2.84444rem;
  font-weight: 700;
  color: black;
  margin: 2em auto 1em;
}

.card__txt {
  font-size: 2.13333rem;
  color: black;
  margin: 0 1em;
}

ul {
  display: grid;
  margin-left: 1vw;
}

ul li {
  list-style-type: none;
  margin: .5em 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.form-field {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space;
  max-width: 55vw;
}

.form-field__label {
  padding-left: .25em;
}

.form-field__input {
  padding: .5em 0 .5em .25em;
  border: 0.5px solid black;
  width: 100%;
}

.form-field__input:active {
  color: #4073bf;
}

.form-field__input:focus {
  color: #4073bf;
}

.form-field__txt {
  border: 0.5px solid #4073bf;
}

.form-field__txt:active {
  outline: 1.5px solid black;
}

.form-field__txt:focus {
  color: #4073bf;
}

.form-field__btn {
  margin: .25em 0 0 40%;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-link__icon {
  height: 30px;
  margin: 0 .5em;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 3em;
  width: 10vw;
  background-color: #785f3a;
  position: fixed;
  inset: 0 auto 0 0;
  scroll-padding: 1rem 0 1rem;
}

.aside__link {
  margin: 1.5em 0;
}

:root {
  font-size: 10px;
}

body {
  background-color: #f9f9f9;
  padding-right: 10vw;
}

.header {
  padding: 5vh 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.header__logo {
  height: 10vw;
  margin-right: 5px;
  position: absolute;
  inset: 10px auto auto 10px;
}

main {
  padding: 0 5vw 5vh;
  background-color: white;
}

footer {
  position: fixed;
  inset: auto 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 2vh 0;
}

.social {
  display: flex;
}

.social__icon {
  margin: 0 .75em;
}

.footer__impressum {
  width: 0;
  color: #595959;
  font-size: 1.6rem;
  margin-right: 25vw;
}

article {
  margin: 0 15vw 7.5em 3vw;
  padding-top: 3vh;
}

article__img {
  height: 16vw;
  width: 16vw;
  object-fit: cover;
  margin: 2em 0;
}

section {
  margin: 3vh 0;
}

section__img {
  height: 16vw;
  width: 16vw;
  object-fit: cover;
  margin: 2em 0;
}

.header-main {
  padding: 5vh 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header-main__icon {
  height: 3.79259rem;
  margin: 0;
  position: relative;
  inset: auto auto 1em 2.7em;
}

.header-main__h1 {
  text-align: end;
}

.h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-container__icon {
  height: 35px;
  outline: 1px solid red;
}

.h1-container__h1 {
  line-height: 0;
  outline: 1px solid red;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote__img {
  height: 40vh;
  width: 20vw;
  object-fit: cover;
  float: left;
  margin: 0 1em 0 0;
}

.quote__txt {
  line-height: 1.6em;
  margin-right: 20vw;
}

.hero {
  margin-bottom: 5em;
}

.hero__video {
  width: 75vw;
  aspect-ratio: 9/6;
}

.hero__description {
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
  margin-top: 1em;
}

.contact-info {
  margin: 0 5vw 15vh 5vw;
}

.music {
  margin: 0 15vw 10vh 0;
}

.music__iframe {
  width: 62vw;
  aspect-ratio: 9/6;
  margin: 3vh 2vw 0;
}

.music__quote {
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
  margin-top: 1em;
}

.test-nav {
  position: fixed;
  inset: 0 0 0 auto;
  height: 100%;
  width: 15vw;
  background-color: #261c0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 50vh; */
}

.test-nav__container {
  position: absolute;
  top: 50vh;
  display: flex;
  flex-direction: column;
  padding-right: 8vw;
}

.test-nav__container__link {
  margin: 1em 0;
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: .25em 1em;
}

.test-nav__container__link--current {
  margin: 1em 0;
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: .25em 1em;
  color: #bfbfbf;
}

/* @media screen and (min-width: 768px){
    
} */
/* @media screen and (min-width: 1440px){
    
} */
