@import '../01subAtoms/_colors';

button{
    padding: .5em 1.5em .5em 1.5em;
    margin-top: .5em;
    border: none;
    border-radius: 5px;
    font-size: $f3;
    color: $accentCol1;
    background-color: $primaryColLight;
    transition: $transitionDuration;
    :hover{
        color: $accentCol1Ligth;
    }
    :active{
        color: $white;
        background-color: $accentCol1Muted;
    }
    :focus{
        color: $accentCol1Muted;
        background-color: $primaryCol;
    }
}