a{
    transition: 300ms;
    &:hover{
        color: $compColDark;
    }
    &:active{
        color: $accentCol1;
    }
    &:focus{
        color: $white;
        background-color: $primaryColMuted;
    }
}
