@import '_colorCalculator';

/* === go to subAtoms === */

/* primary color:          black
complementary color:    brown
accent:                 blue
white:                  white */

/* BLACK */

$primaryCol:            hsl($hue, 0, 0);
$primaryColLight:       hsl($hue, $sat2, $lux3);
$primaryColMuted:       hsl($hue, $sat1, $lux2);

/* BROWN */

$compCol:               hsl($hue, $sat2, $lux2);
$compColLigth:          hsl($hue, $sat2, $lux3);
$compMuted:             hsl($hue, $sat1, $lux2);

/* BLUE */

$accentCol1:            hsl($complementary, $sat2, $lux2);
$accentCol1Ligth:       hsl($complementary, $sat2, $lux2);
$accentCol1Muted:       hsl($complementary, $sat1, $lux2);

/* WHITE */

$white:                 hsl($hue, 0, $lux3);