@import '_colorCalculator';

/* === go to subAtoms === */

/* primary color:          black
complementary color:    brown
accent:                 blue
white:                  white */

/* BLACK */

$primaryCol:            hsl($hue, 0, 0);
$primaryColLight:       hsl($hue, $sat2, $lux3);
$primaryColMuted:       hsl($hue, $sat1, $lux2);

/* BROWN */

$compCol:               hsl($hue, $sat2, $lux2);
$compColLigth:          hsl($hue, $sat2, $lux3);
$compColMuted:          hsl($hue, $sat1, $lux2);

/* BLUE */

$accentCol:             hsl($complementary, $sat2, $lux2);
$accentColLigth:        hsl($complementary, $sat2, $lux2);
$accentColMuted:        hsl($complementary, $sat1, $lux2);

/* WHITE */

$white:                 hsl($hue, 0, $lux3);