 .footer{

    background-color: $white2;
    padding: 2em 20vw 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__social{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    
    &__impressum{
        color: $primaryColMuted;
        margin: 0;
        width: unset;
        font-size: $f2;
    }
}