footer{
    position: fixed;
    inset: auto 0 0 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white2;
    padding: 2vh 0;
}

.social {
    display: flex;
    &__icon{
        margin: 0 .75em;
    }
}

.footer__impressum{
    width: 0;
    color: $grey1;
    font-size: $f2;
    margin-right: 25vw;
}
