.test-nav{
    position: fixed;
    inset: 0 0 0 auto;
    height: 100%;
    width: 15vw;
    background-color: $compColDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 50vh; */
    &__container{
        position: absolute;
        top: 50vh;
        display: flex;
        flex-direction: column;
        padding-right: 8vw;
        &__link{
            margin: 1em 0;
            background-color: $white;
            border-radius: 25px;
            padding: .25em 1em;
            &--current{
                margin: 1em 0;
                background-color: $white;
                border-radius: 25px;
                padding: .25em 1em;
                color: $grey3;
            }
        }
    }
}