form{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    }
.form-field{
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space;
    max-width: 55vw;
    
    &__label{
        padding-left: .25em;
    }
    &__input{
        padding: .5em 0 .5em .25em;
        border: $borderThin solid $primaryCol;
        width: 100%;
        &:active{
            color: $accentCol1;
        }
        &:focus{
            color: $accentCol1;
        }
    }
    &__txt{
        border: $borderThin solid $accentCol1;
        &:active{
            outline: 1.5px solid $primaryCol;
        }
        &:focus{
            color: $accentCol1;
        }
    }
    
    &__btn{
        margin: .25em 0 0 40%;
    }
}