/*  .logo{
    position: absolute;
    inset: 3em 0 0 3em;
    display: flex;
    &__img{
        height: $imgLogo;
        margin-right: 15px;
    }
    &__name{
        font-size: $f3;
        font-weight: 700;
        color: $primaryColMuted;
        line-height: 1.5em;
    }
} */




